/** 
 * Script: /css/style.css
 * Author: Elena Alexie
 * Description: Main style rules
 */

/**
 * Import CSS Files
 */
@import url("fonts.css");
/* [END] Import CSS Files */

/**
 * General Reset Rules
 */
*, h1 {
	margin: 0;
	padding: 0;
}
a, a:hover, a:active, a:visited, a:focus {
	outline: medium none;
	text-decoration: none;
	border: none;
	cursor: pointer;
}
.clearfix {
	clear: both;
	float: none;
	display: block;
	width: 100%;
}
.position-relative {
	position: relative;
}
/* [END] General Reset Rules */

/**
 * General Rules
 */
body {
	font-size: 14px; /* Base font-size for rem conversion */
	width: 100%;
}
/* [END] General Rules*/

/**
 * Layout Rules
 */
.no-margin {
	margin: 0!important;
}
.no-padding {
	padding: 0!important;
}
/* [END] Layout Rules*/

/**
 * Singlepage sections
 */
.video-holder .media { 
    width: 100%;
    height: 100%;
    z-index: 0;
  	background-size: cover;
  	transition: 1s opacity;
  	overflow: hidden;
  	margin-bottom: -5px;
}
#shaver.media {
	background: url('../images/shaver_video_background.jpg') center center no-repeat;
}
section.module {
	min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
	z-index: 0;
}
section.module.bg-controls {
	background: url('../images/lightblue_background.jpg') no-repeat center center fixed;
}
section.module.parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-clip: border-box;
	min-height: auto;
}
.description {
	padding-top: 5rem;
	padding-top: 10vw;
  	color: white;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 100;
}
.parallax .description {
	position: relative;
}
.description p {
	margin: 0;
	line-height: 2.75rem;
  	font-size: 2rem;
	font-weight: 400;
	font-family: "CentraleSansLight";
  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.description .dark-bg {
	background: #19203C;
}
.description h1 {
	font-family: "CentraleSansxBold";
	font-size: 6.25rem;
	line-height: 6.25rem;
	font-size: 6vw;
	line-height: 6vw;
	padding-bottom: 0.5rem;
	padding-bottom: 2vh;
}
.description h2 {
	font-family: "CentraleSansLight";
	font-size: 4rem;
	line-height: 4rem;
	font-size: 3.5vw;
	line-height: 3.5vw;
	font-weight: 400;
}
#shaverSeries .description {
	width: 66%;
}
#shaverSeries .description h1 {
	font-size: 3vw;
	line-height: 3vw;
}
#shaverSeries .description h2 {
	font-size: 3vw;
	line-height: 3vw;
}
.bg-controls .description {
	color: #19203C;
}
.bg-controls .description p {
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.shaver-image img {
	width: 100%;
	margin: 20px 0;
	vertical-align: middle;
}
.icon-pause-video,
.icon-play-video {
	font-size: 2rem;
	color: #ddd;
	display: inline-block;
	margin: 5px 10px;
	font-weight: 900;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.icon-pause-video:hover,
.icon-pause-video:active,
.icon-pause-video.current-status,
.icon-pause-video:focus,
.icon-play-video:hover,
.icon-play-video:active ,
.icon-play-video:focus,
.icon-play-video.current-status {
	color: #960000;
}
.media-holder {
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.media-holder img {
	width: 100%;
	vertical-align: middle;
}
/* [END] Singlepage sections */

/* @screen-xs-max: <768px; */
@media (max-width: 767px) {
	.description {
		padding-top: 3vh;
	}
	.description p {
		margin-top: 1rem;
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
	.description h1 {
		font-size: 3.5rem;
		line-height: 3.5rem;
	}
	.description h2 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
	#shaverSeries .description {
		width: 100%;
	}
}

/** Section 3 **/