/** 
 * Script: /css/main.css
 * Author: Elena Alexie
 * Description: Main style rules
 */

/**
 * Import Fonts
 */
@import url("http://fonts.googleapis.com/css?family=PT+Sans");

/* [END] Import Fonts */

/**
 * General Reset Rules
 */
*, h1, h2, p, ul, body {
	margin: 0;
	padding: 0;
}
a, a:hover, a:active, a:visited, a:focus {
	outline: medium none;
	text-decoration: none;
	border: none;
	cursor: pointer;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.clearfix {
	clear: both;
	float: none;
	display: block;
	width: 100%;
}
.position-relative {
	position: relative;
}
.hidden {
	display: none;
}
/* [END] General Reset Rules */

/**
 * General Rules
 */
body {
	font-size: 14px; /* Base font-size for rem conversion */
	width: 100%;
	font-family: "PT Sans";
	text-align: center;
}
main {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 40px;
}
/* [END] General Rules */

/**
 * Layout Rules
 */
.no-margin {
	margin: 0!important;
}
.no-padding {
	padding: 0!important;
}
.margin-left-50 {
	margin-left: 50px;
}
.margin-right-50 {
	margin-right: 50px;
}
/* [END] Layout Rules */

/**
 * Header Rules
 */
header {
	width: 100%;
	background: #fff;
	text-align: left;
}
header .header-content {
	padding: 20px 20px 20px 50px;
}
header .homepage-link a,
header .search-header a {
	line-height: normal;
	font-weight: 400;
}
header .homepage-link em,
header .search-header em,
header .responsive-nav a.toggle-menu em {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
header .homepage-link,
header .search-header,
header .responsive-nav {
	display: inline-block;
	width: auto;
	line-height: auto;
	vertical-align: middle;
}
header .homepage-link a:before {
	content: url("../images/common/home_icon.png");
}
header .search-header a:before {
	content: url("../images/common/search_icon.png");
}
header .responsive-nav a.toggle-menu:before {
	content: url("../images/common/menu_icon.png");
}
header .search-header input {
	opacity: 0;
}
/* [END] Header Rules */

/**
 * Carousel Slider Rules
 */
.gallery-container {
	width: 100%;
	margin: 0 auto;
	transition: all 0.5s ease;
	overflow: hidden;
	box-sizing: border-box;
}
.swipe {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	opacity: 0;
	background: rgba(0,0,0,0.3);
	transition: all 0.5s ease;
}
.gallery-preview-text {
	width: 100%;
	padding: 0;
	background: rgb(0,53,121); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(0,53,121,1) 0%, rgba(0,102,160,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,53,121,1) 0%,rgba(0,102,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,53,121,1) 0%,rgba(0,102,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003579', endColorstr='#0066a0',GradientType=1 ); /* IE6-9 */
}
.swipe:hover {
	opacity: 0;
}
.gallery-preview-text .main-title {
	margin: 0;
	padding: 30px;
	color: #fff;
	font-weight: 400;
	font-size: 2vw;
}
.gallery-preview {
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	background: #fff;
}
.gallery-preview img {
	width: 80%;
	vertical-align: middle;
	box-sizing: border-box;
}
.gallery-preview .image-shown {
	width: 100%;
	border: 0 solid transparent;
	box-sizing: border-box;
	display: inline-block;
	opacity: 1;
}
.gallery-preview .image-hidden {
	display: none;
	opacity: 0.5;
}
.gallery-preview .slide-image {
	display: inline-block;
	opacity: 1;
    transition: filter 0.5s ease;
    -webkit-transition: filter 0.5s ease;
    filter: grayscale(0.77);
	-webkit-filter: grayscale(0.77);
	-moz-filter: grayscale(0.77);
	-o-filter: grayscale(0.77);
	-ms-filter: grayscale(0.77);
}
.gallery-preview .slide-image:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}
.gallery-preview-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.gallery-preview-container .preview-control-arrow {
	font-size: 2vw;
	color: #333;
	display: block;
	position: absolute;
	z-index: 100;
	margin-top: calc(50%/2);
	transition: all 0.5s ease;
	opacity: .5;
}
.gallery-thumbnail-container .thumbnail-control-arrow {
	font-size: 2vw;
	color: #777;
	display: block;
	position: absolute;
	top: calc(50%/2);
	z-index: 100;
	transition: all 0.5s ease;
	opacity: .75;
}
.gallery-preview-container .preview-control-arrow:hover,
.gallery-thumbnail-container .thumbnail-control-arrow:hover {
	color: #960000;
	opacity: 1;
}
.gallery-preview-container .preview-control-arrow.prev,
.gallery-thumbnail-container .thumbnail-control-arrow.thumbnail-prev {
	left: 20px;
}
.gallery-preview-container .preview-control-arrow.next,
.gallery-thumbnail-container .thumbnail-control-arrow.thumbnail-next {
	right: 20px;
}
/* [END] Carousel Slider Rules */

/**
 * Carousel Thumbnails Rules
 */
.gallery-thumbnail-section {
	width: 100%;
	bottom: 0;
	z-index: 101;
	position: fixed;
}
.show-thumbnails {
	width: 100%;
	text-align: center;
	border-bottom: 10px solid #333;
	transition: all 0.5s ease;
}
.show-thumbnails .btn-show {
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 15px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	background: #333;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.show-thumbnails:hover,
.show-thumbnails.thumbnail-shown {
	border-color: #111;
}
.show-thumbnails:hover .btn-show,
.show-thumbnails .btn-show:hover,
.show-thumbnails.thumbnail-shown .btn-show {
	background: #111;
}
.show-thumbnails.thumbnail-shown:hover {
	border-color: #222;
}
.show-thumbnails.thumbnail-shown:hover .btn-show,
.show-thumbnails.thumbnail-shown .btn-show:hover {
	background: #222;
}
.gallery-thumbnail-container {
	display: none;
	width: 100%;
	padding: 10px 0;
	background: #333;
	border-bottom: 10px solid #111;
}
.gallery-thumbnail-container .thumbnail-prev {
	left: 20px;
}
.gallery-thumbnail-container .thumbnail-next {
	right: 20px;
}
.gallery-thumbnail {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	font-size: 1vw;
}
.gallery-thumbnail img {
	vertical-align: middle;
}
.gallery-thumbnail-list {
	margin: 0;
	padding: 0;
	width: 100%;
}
.gallery-thumbnail-list li {
	display: inline-block;
}
.thumbnail {
	cursor: pointer;
	transition: all 0.5s ease;
	position: relative;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.thumbnail:after {
	content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.thumbnail:hover:after {
    opacity: 0;
}
.thumbnail.current:after {
	opacity: 0;
}
.gallery-container .disabled {
	display: none;
}
/* [END] Carousel Thumbnails Rules */
/**
 * Categories Boxes Rules
 */
.categories {
	text-shadow: none;
	text-align: left;
	font-size: 1.05vw;
	color: #fff;
}
.categories ul {
	list-style-type: none;
	margin: 0 15px;
	padding: 0;
	box-sizing: border-box;
}
.categories ul li {
	width: 50%;
	padding: 0 15px;
	box-sizing: border-box;
	float: left;
}
.categories ul li .box.check-icon:before {
	content: url("../images/common/check_icon.png");
	max-width: 100%;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
	padding-left: 40px;
}
.categories ul li .box.stars-icon:before {
	content: url("../images/common/sparkle_icon.png");
	max-width: 100%;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
	padding-left: 40px;
}
.categories ul li .box {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #0066a1;
	transition: all 0.5s ease;
}
.categories ul li .box:hover {
	background: #002260;
}
.categories h2, 
.categories p {
	font-weight: 400;
	letter-spacing: 2px;
}
.color-light-blue {
	color: #44aae5;
}
/* [END] Categories Boxes Rules */

@media screen and (max-width: 1023px) {
	.gallery-preview-container {
		width: 100%;
	}
	.gallery-preview-container img {
		margin-left: 0;
		margin-right: 0;
		border-left: 0 solid transparent!important;
		border-right: 0 solid transparent!important;
	}
	.categories ul li {
		width: 100%;
		padding: 15px;
	}
}